
/* stylelint-disable */
#gsc-i-id1,
#gsc-i-id2 {
    height: 40px !important;
    width: 630px !important;
    border: none !important;
    border-radius: 5px 0 0 5px !important;
    padding: 3px 4px 3px 8px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    color: #2d3742;
    font-style: italic;
    vertical-align: middle;
    opacity: 1.0;
}

#page-content #gsc-i-id1,
#gsc-i-id2 {
    width: 100% !important;
    border: 1px solid #8B929A !important;
}

#gsc-iw-id1 {
    border: none !important;
    background: transparent !important;
    position: relative;
    z-index: 2;
    height: 40px !important;
    width: 100%;
    text-align: center;
}

#gsc-iw-id2 {
    border: none;
}

input.gsc-search-button, 
input.gsc-search-button:hover, 
input.gsc-search-button:focus,
#page-content input.gsc-search-button, 
#page-content input.gsc-search-button:hover, 
#page-content input.gsc-search-button:focus,
.gsc-search-button.gsc-search-button-v2,
#content-secondary .gsc-search-button.gsc-search-button-v2 {
    width: 44px !important;
    height: 40px !important;
    vertical-align: top;
    margin: 0 !important;
    padding: 0 22px !important;
    background-image: url('../images/icon-search.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 30px;
    text-align: center;
    border: none !important;
    border-radius: 0 5px 5px 0 !important;
    color: #fff !important;
    color: transparent !important;
    background-color: #d94d4c !important;
    font-size: 12px !important;
}

.gsc-search-button svg {
	display: none;
}

.gsc-clear-button {
    display: none !important;
}

.gsc-input, 
.gsc-input-box, 
.gsc-search-box .gsc-input, 
 #gs_id50, 
 #gs_tti50 {
    padding: 0 !important;
}

.gsc-input-box {
	box-shadow: none !important;
}

.gsc-search-box td {
    vertical-align: top !important;
}

#page-content .gsc-search-box td {
    padding: inherit !important;
}

.homenavigation .gsc-control-cse {
    padding: 0;
}

.gsib_b {
    display: none;
}

#gs_id50 {
	text-align: right;
}

.gs-snippet,
.gsc-thumbnail {
    padding-left: 8px;
}

.gs-title {
    height: 1.5em !important;
}

.gsc-search-button {
  width: 44px !important;
  height: 40px !important;
  vertical-align: top;
  margin: 0 !important;
  padding: 0 22px !important;
  background-image: url('../images/icon-search.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 30px;
  text-align: center;
  border: none !important;
  border-radius: 0 5px 5px 0 !important;
  color: #fff !important;
  color: transparent !important;
  background-color: #d94d4c !important;
  font-size: 12px !important;
}