.search {
    form {
        display: flex;
        justify-content: end;

        input[type='text'] {
            border-top-left-radius: .6rem;
            border-bottom-left-radius: .6rem;
            border-color: #afafb2;
            border-width: 1px;
            border-style: solid;
            height: 35px;
            padding-left: 10px;
        }
        
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 39px;
            width: 30px;
            margin: 0;
            border-width: 0;
            position: relative;
            color: transparent;

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                background-color: white;
                mask-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7L502.6%20457.4c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200S416%2093.1%20416%20208zM208%20352a144%20144%200%201%200%200-288%20144%20144%200%201%200%200%20288z%22%2F%3E%3C%2Fsvg%3E');
                mask-repeat: no-repeat;
                mask-size: contain;
                position: absolute;
                top: 10px;
                left: 8px;
            }
        }
    }
}