footer {
  background-color: var(--darker-gray);
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer > div {
  margin: auto;
  max-width: var(--max-width);
  padding: 40px 24px 24px;
  display: flex;

  >div {
    width: 25%;

    &:first-of-type {
      width: 50%;

      img {
        max-width: 200px;
        height: auto;
        margin-bottom: 30px;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: var(--body-font-size-m);
      }

      &:has(.icon) {
        display: flex;
        width: 50%;
        justify-content: space-between;

        .icon {
          filter: invert(100%);
        }
      }
    }

    h2 {
      font-size: var(--heading-font-size-m);
      margin: 0;
    }
  }
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
